*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: navy;
    background-color: rgb(236, 143, 220);
}
.hero{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    background-color: cornflowerblue;
    padding: 1rem;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.navbar a:hover{
    background-color: #2c3e50;
}
.container{
    display: flex;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}
.sidebar {
    background-color: #ecf0f1;
    padding: 2rem;
    width: 300px;
    min-height: 400px;
}
.profile-img{
    width: 200px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 1.5rem auto;
    border: 3px soild teal;
}
.sidebar h2{
    color: black;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.main-content{
    flex: 1;
    padding: 2rem;
}
.main-content h2{
    color: lightskyblue;
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
    border-bottom: 2px solid lightcoral;
    padding-bottom: 0.5rem;
}
.log-entry-number {
    font-weight: bold;
    font-size: 1.2rem;
    color: navy;
    margin: 1rem 0;
}

.log-card {
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.log-card p {
    margin: 0.5rem 0;
}

.log-date {
    color: navy;
    font-size: 1.2rem;
    font-weight: bold;
}